@model DEMO_CSDL.Models.LoaiNk

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Loại Nhật Ký</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Idloaink" class="control-label"></label>
        <input asp-for="Idloaink" class="form-control" readonly />
        <span asp-validation-for="Idloaink" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Tenloai" class="control-label"></label>
        <input asp-for="Tenloai" class="form-control" />
        <span asp-validation-for="Tenloai" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Mota" class="control-label"></label>
        <textarea asp-for="Mota" class="form-control"></textarea>
        <span asp-validation-for="Mota" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Ngaytao" class="control-label"></label>
        <input asp-for="Ngaytao" class="form-control" type="datetime-local" />
        <span asp-validation-for="Ngaytao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Ngaychinhsua" class="control-label"></label>
        <input asp-for="Ngaychinhsua" class="form-control" type="datetime-local" />
        <span asp-validation-for="Ngaychinhsua" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nguoichinhsua" class="control-label"></label>
        <input asp-for="Nguoichinhsua" class="form-control" />
        <span asp-validation-for="Nguoichinhsua" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nguoitao" class="control-label"></label>
        <input asp-for="Nguoitao" class="form-control" />
        <span asp-validation-for="Nguoitao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
